:root {
  --s-color: #F5AAA9;
  --s2-color: #F5EAC1;
  --text-color: #90F5B0;
  --shadow: black;
  --p2-color: #1d1d1d;
  --p-color: #F59290;
  --text: "Handlee", cursive;
  --header: "Lobster", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: var(--p-color);
}
body .nav-bar {
  min-height: 15vh;
  padding: 1vh;
}
body .nav-bar .nav-options {
  align-self: center;
}
body .nav-bar .nav-options .nav-pc {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
body .nav-bar .nav-options .nav-pc .nav-pc-list {
  text-align: center;
  font-size: 3vh;
  font-family: var(--header);
  width: 20vh;
  cursor: pointer;
}
body .nav-bar .nav-options .nav-pc .nav-pc-list img {
  width: 50%;
  height: 100%;
  transform: scale(1);
}
body .hero-page {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
body .hero-page .hero-page-photo {
  width: 40vh;
  height: 50vh;
  overflow: hidden;
  border-radius: 1vh;
  border: 1vh solid var(--s2-color);
}
body .hero-page .hero-page-photo img {
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transform: scale(2.5);
}
body .hero-page .hero-page-photo img:hover {
  filter: none;
}
body .hero-page .hero-page-paragraph {
  width: 70vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: left;
  justify-content: center;
}
body .hero-page .hero-page-paragraph .header {
  font-size: 5vh;
  font-family: var(--text);
}
body .hero-page .hero-page-paragraph .header span {
  font-weight: bold;
  -webkit-text-decoration: 1vh underline dotted;
          text-decoration: 1vh underline dotted;
}
body .hero-page .hero-page-paragraph .description {
  font-size: 4vh;
  font-family: var(--text);
  text-align: left;
}
body .hero-page .hero-page-paragraph .art-link {
  font-size: 4vh;
  font-family: var(--text);
  text-align: left;
}
body .hero-page .hero-page-paragraph .art-link span {
  font-family: var(--header);
  -webkit-text-decoration: 1vh underline dotted;
          text-decoration: 1vh underline dotted;
}
body .art-page {
  min-height: 100vh;
  width: 100%;
  background: var(--p-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
body .art-page .header {
  font-size: 8vh;
  font-family: var(--header);
  margin-bottom: 10vh;
}
body .art-page .art-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  gap: 1vh;
  max-width: 70%;
}
body .art-page .art-container .art-showcase {
  width: 35vh;
  height: 35vh;
}
body .art-page .art-container .art-showcase img {
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
body .art-page .art-container .art-showcase img:hover {
  filter: none;
}
body .about-page {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}
body .about-page .header {
  font-size: 8vh;
  font-family: var(--header);
  align-self: center;
  margin-bottom: 10vh;
}
body .about-page .description {
  font-size: 4vh;
  font-family: var(--text);
  text-align: justify;
  margin: 2vh;
  width: 70%;
}
body .contact-page {
  width: 100%;
  min-height: 50vh;
  padding: 2vh;
  background: var(--s-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
body .contact-page .header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  font-family: var(--header);
  background: var(--s-color);
  width: 40vh;
}
body .contact-page .description {
  font-size: 4vh;
  font-family: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vh;
}
body .contact-page .description .social-links {
  background: var(--s-color);
}
body .contact-page .description .social-links li {
  background: var(--s-color);
  list-style: none;
}
body .contact-page .description .social-links li a {
  text-decoration: none;
  color: var(--p2-color);
  font-size: 4vh;
  font-family: var(--header);
  background: var(--s-color);
}

@media only screen and (max-width: 1200px) {
  .nav-bar {
    display: none;
  }
  .hero-page {
    padding: 1vh;
  }
  .hero-page .hero-page-paragraph {
    max-width: 40vh;
    margin-bottom: 10vh;
  }
  .hero-page .hero-page-photo {
    max-width: 30vh;
    max-height: 40vh;
  }
}/*# sourceMappingURL=style.css.map */