//Global Variable/ Color palate
:root{
    --s-color: #62695E;
    --s2-color: #5E6967;
    --text-color: #1d1d1d;
    --shadow: black;
    --p2-color: #191C1C;
    --p-color: #fffafa;
    --text: 'Handlee', cursive;
    --header: 'Lobster', cursive;
    --m-text:'Cormorant Garamond', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: var(--p-color);
    //For every section
    //Nav bar for pc
    .nav-bar{
        transition: ease-in-out .5s;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top:0;
        width:100%;
        height: 6vh;
        z-index: 1;
        background: var(--p-color);
        box-shadow: 0 0vh 1vh var(--shadow);
        .nav-options{
            display: flex;
            align-items: center;
            justify-content: center;
            .nav-pc{
                list-style: none;
                display: flex;
                padding:0;
                max-height: 6vh;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-evenly;
                .nav-pc-list{
                    text-align: center;
                    font-size: 2vh;
                    font-family: var(--header);
                    width:15vh;
                    cursor: pointer;
                    box-sizing: border-box;
                    &:hover{
                        text-decoration: .2vh underline var(--p2-color);
                    }
                    a{
                        text-decoration: none;
                        color: var(--text-color);
                    }
                }
                #logo-nav{
                  img{
                    transform: translateY(2vh);
                    width: 10vh;
                    height: 10vh;
                    background: var(--p-color);
                    padding: 1vh;
                    border-radius: 0 0 100% 100%;
                  } 
                }
            }
        }
    }
    .nav-bar-m{
        transition: ease-in-out .5s;
        padding: 1vh;
        position: fixed;
        bottom:0;
        z-index: 1;
        width: 100%;
        background: var(--p-color);
        box-shadow: 0vh 0vh 1vh var(--shadow);
        .nav-options-m{
            align-self: center;
            .nav-m{
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                font-size: 3vh;
                font-weight: bold;
                font-family: var(--header);
                .nav-m-list{
                    text-align: center;
                    font-size: 3vh;
                    font-family: var(--header);
                    padding: .5vh;
                    cursor: pointer;
                }
                #logo-nav-m{
                    img{
                        width: 7vh;
                        height: 5vh;
                      } 
                }
            }
        }
    }
    //Hero Section
    .hero-page{
        min-height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        .hero-page-left-side{
            position: absolute;
            left:0;
            width: 50%;
            border: 3vh solid var(--p-color);
            height: 100%;
            background: var(--p-color);
            overflow: hidden;
            .hero-page-video{
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: blur(1px);
                transform: scale(1.5);
            }
            .overlay{
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom:0;
                background:radial-gradient(var(--p2-color),var(--p-color));
                opacity: 60%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                .overlay-text{
                    text-align: center;
                    font-size: 2vh;
                    font-family: var(--m-text);
                    width: 100%;
                    background: var(--p2-color);
                    color: var(--p-color);
                    padding: 1vh;
                }
            }
            .hero-page-profile-card{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width: 35vh;
                height: 50vh;
                background: var(--p2-color);
                border-radius: 5vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2vh;
                align-items: center;
                overflow: hidden;
                box-shadow: 0 0 1vh  var(--shadow);
                .profile-card-photo{
                    border-radius: 100%;
                    width:50%;
                    height: 40%;
                    overflow: hidden;
                    outline: .3vh solid var(--p-color);
                    img{
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        filter: sepia(100%);
                        transform: scale(2.5);
                        object-fit: cover;
                    }
                }
                .profile-card-name{
                    font-size: 3vh;
                    font-family: var(--header);
                    color: var(--p-color);
                    text-transform:capitalize;
                    font-weight: bold;
                }
                .profile-card-title{
                    font-size: 2vh;
                    text-align: center;
                    font-family: var(--text);
                    color: var(--p-color);
                    text-transform:capitalize;
                    font-weight: bold;
                    span{
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1.5vh;
                    }
                }
                .profile-card-icons{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        transition: .2s linear;
                        padding: 2vh;
                        filter: grayscale(100%);
                        &:hover{
                            filter: grayscale(10%);
                        }
                    }
                }
            }
        }
        .hero-page-right-side{
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width:50%;
            height: 100%;
            padding: 4vh;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-image:repeating-linear-gradient(45deg,var(--p2-color)1vh,var(--p-color)2vh,transparent 20%),
            repeating-linear-gradient(315deg,var(--p2-color)1vh,var(--p-color)2vh,transparent 20%),
            repeating-linear-gradient(45deg,var(--p2-color)3vh,var(--p-color)5vh);
            .overlay{
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom:0;
                background:var(--p2-color);
                opacity: 50%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            .hero-page-profile-card{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width: 40vh;
                height: 50vh;
                background: var(--p2-color);
                border-radius: 5vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2vh;
                align-items: center;
                overflow: hidden;
                box-shadow: 0 0 1vh  var(--shadow);
                .profile-card-photo{
                    border-radius: 100%;
                    width:50%;
                    height: 40%;
                    overflow: hidden;
                    outline: .3vh solid var(--p-color);
                    img{
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        filter: sepia(100%);
                        transform: scale(2.5);
                        object-fit: cover;
                    }
                }
                .profile-card-name{
                    font-size: 3vh;
                    font-family: var(--header);
                    color: var(--p-color);
                    text-transform:capitalize;
                    font-weight: bold;
                }
                .profile-card-title{
                    font-size: 2vh;
                    text-align: center;
                    font-family: var(--text);
                    color: var(--p-color);
                    text-transform:capitalize;
                    font-weight: bold;
                    span{
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1.5vh;
                    }
                }
                .profile-card-icons{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        transition: .2s linear;
                        padding: 2vh;
                        filter: grayscale(100%);
                        &:hover{
                            filter: grayscale(10%);
                        }
                    }
                }
            }
        }
    }

    //For art Section
    .art-page{
        min-height: 100vh;
        width: 100%;
        background:var(--p-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .header{
            width: 100%;
            height: 10vh;
            text-align: center;
            margin-top:10vh;
            margin-bottom: 10vh;
            font-size: 8vh;
            color:var(--p2-color);
            font-family: var(--header);
        }
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            .header{
                color:var(--p2-color);
                text-decoration: 1vh underline;
            }
            .art-container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding: 1vh;
                max-width: 70%;
                gap: 10vh;
                .art-showcase{
                    display: flex;
                    flex-direction: column;
                   .image-container{
                    width: 30vh;
                    height: 40vh;
                    border-radius: 2vh;
                    overflow: hidden;
                    box-shadow: 1vh 1vh 1vh var(--shadow);
                        img{
                            transition: .2s ease-in-out;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                   }
                    .image-description{
                        display: flex;
                        flex-direction: column;
                        padding: 1vh;
                        .image-header{
                            font-size: 4vh;
                            font-family: var(--header);
                        }
                        .image-size{
                            font-size: 2vh;
                            font-family: var(--text);
                        }
                        .image-price{
                            font-size: 2vh;
                            font-family: var(--text);
                        }
                    }
                }
            }
        }
    }

    //About page section
    .about-page{
        margin-top: 10vh;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--p-color);
        padding-bottom: 10vh;
        border-bottom: 1vh solid var(--p-color);
        border-top: 1vh solid var(--s2-color);
        background:repeating-linear-gradient(90deg, var(--p-color)3vh,var(--p2-color)4vh,transparent 20vh),
        repeating-linear-gradient(90deg,var(--p-color)10vh,var(--p2-color)10vh);
        
        .header{
            width: 100%;
            height: 10vh;
            text-align: center;
            background:repeating-linear-gradient(90deg, var(--p-color)3vh,var(--p2-color)4vh,transparent 20vh),
            repeating-linear-gradient(90deg,var(--p-color)10vh,var(--p2-color)10vh);
            margin-top:10vh;
            margin-bottom: 10vh;
            font-size: 8vh;
            color:var(--p-color);
            font-family: var(--header);
        }
        .description{
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .photo{
                width:40vh;
                height: 50vh;
                overflow: hidden;
                border-radius: 5vh;
                box-shadow: 0 1vh 1vh var(--shadow);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .paragraph{
                font-size: 3vh;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-align: left;
                align-self: flex-start;
                margin: 2vh;
                width:50%;
            }
        }
    }
    //Contact section
    .contact-page{
        width: 100%;
        height: 30vh;
        padding: 2vh;
        background: var(--p2-color);
        color:var(--p-color);
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:1vh;
        border-top: 1vh solid var(--p2-color);
        
        .description{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .header{
                font-size: 2vh;
                font-family: var(--text);
            }
            .social-links{
                font-size: 4vh;
                font-family: var(--text);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-self: center;
                margin: 1vh;
                li{
                    list-style: none;
                    margin: 1vh;
                    border-radius: 10vh;
                    a{
                        transform: .2s linear;
                        text-decoration: none;
                        padding:1vh;
                        img{
                            filter: grayscale(100%);
                            &:hover{
                                filter: grayscale(10%);
                            }
                        }
                    }
                }
            }
            .phone-number{
                font-size: 3vh;
                font-family: var(--text);
                width: 40vh;
                text-align: center;
                align-self: center;
                span{
                    font-family: var(--header);
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px)
{
    .hero-page-left-side{
        min-width: 100%;
        .overlay-text{
            display: none;
        }
    }
    .about-page{
        .paragraph{
            min-width: 100%;
        }
    }
}