:root {
  --s-color: #62695E;
  --s2-color: #5E6967;
  --text-color: #1d1d1d;
  --shadow: black;
  --p2-color: #191C1C;
  --p-color: #fffafa;
  --text: "Handlee", cursive;
  --header: "Lobster", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: var(--p-color);
}
body .nav-bar {
  transition: ease-in-out 0.5s;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 1;
  background: var(--p-color);
  box-shadow: 0 0vh 1vh var(--shadow);
}
body .nav-bar .nav-options {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .nav-bar .nav-options .nav-pc {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
body .nav-bar .nav-options .nav-pc .nav-pc-list {
  text-align: center;
  font-size: 3vh;
  font-family: var(--header);
  width: 15vh;
  cursor: pointer;
  box-sizing: border-box;
}
body .nav-bar .nav-options .nav-pc .nav-pc-list:hover {
  transform: scale(1.5);
  outline: 0.1vh solid var(--p2-color);
}
body .nav-bar .nav-options .nav-pc #logo-nav img {
  transform: translateY(5vh);
  width: 10vh;
  height: 10vh;
  background: var(--p-color);
  padding: 1vh;
  border-radius: 0 0 5vh 5vh;
}
body .nav-bar .nav-options .nav-pc #logo-nav:hover {
  outline: none;
}
body .nav-bar-m {
  transition: ease-in-out 0.5s;
  padding: 1vh;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: var(--p-color);
  box-shadow: 0vh 0vh 1vh var(--shadow);
}
body .nav-bar-m .nav-options-m {
  align-self: center;
}
body .nav-bar-m .nav-options-m .nav-m {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 3vh;
  font-weight: bold;
  font-family: var(--header);
}
body .nav-bar-m .nav-options-m .nav-m .nav-m-list {
  text-align: center;
  font-size: 3vh;
  font-family: var(--header);
  padding: 0.5vh;
  cursor: pointer;
}
body .hero-page {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
body .hero-page .hero-page-left-side {
  position: absolute;
  left: 0;
  width: 50%;
  border: 3vh solid var(--p-color);
  height: 100%;
  background: var(--p-color);
  overflow: hidden;
}
body .hero-page .hero-page-left-side .hero-page-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(5px);
  transform: scale(1.5);
}
body .hero-page .hero-page-right-side {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-image: repeating-linear-gradient(45deg, var(--p2-color) 1vh, var(--p-color) 2vh, transparent 20%), repeating-linear-gradient(315deg, var(--p2-color) 1vh, var(--p-color) 2vh, transparent 20%), repeating-linear-gradient(45deg, var(--p2-color) 3vh, var(--p-color) 5vh);
}
body .hero-page .hero-page-right-side .hero-page-profile-card {
  width: 40vh;
  height: 50vh;
  background: var(--p2-color);
  border-radius: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1vh var(--shadow);
}
body .hero-page .hero-page-right-side .hero-page-profile-card .profile-card-photo {
  border-radius: 100%;
  width: 50%;
  height: 40%;
  overflow: hidden;
  outline: 0.3vh solid var(--p-color);
}
body .hero-page .hero-page-right-side .hero-page-profile-card .profile-card-photo img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  filter: sepia(100%);
  transform: scale(2.5);
  -o-object-fit: cover;
     object-fit: cover;
}
body .hero-page .hero-page-right-side .hero-page-profile-card .profile-card-name {
  font-size: 3vh;
  font-family: var(--header);
  color: var(--p-color);
  text-transform: capitalize;
  font-weight: bold;
}
body .hero-page .hero-page-right-side .hero-page-profile-card .profile-card-title {
  font-size: 2vh;
  text-align: center;
  font-family: var(--text);
  color: var(--p-color);
  text-transform: capitalize;
  font-weight: bold;
}
body .hero-page .hero-page-right-side .hero-page-profile-card .profile-card-title span {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5vh;
}
body .hero-page .hero-page-right-side .hero-page-profile-card .profile-card-icons {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .hero-page .hero-page-right-side .hero-page-profile-card .profile-card-icons a {
  transition: 0.2s linear;
  padding: 2vh;
  filter: grayscale(100%);
}
body .hero-page .hero-page-right-side .hero-page-profile-card .profile-card-icons a:hover {
  filter: grayscale(10%);
}
body .art-page {
  min-height: 100vh;
  width: 100%;
  background: var(--p-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .art-page .header {
  width: 100%;
  height: 10vh;
  text-align: center;
  background: repeating-linear-gradient(90deg, var(--p-color) 3vh, var(--p2-color) 4vh, transparent 20vh), repeating-linear-gradient(90deg, var(--p-color) 10vh, var(--p2-color) 10vh);
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 8vh;
  color: var(--p-color);
  font-family: var(--header);
}
body .art-page section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body .art-page section .header {
  color: var(--p2-color);
  -webkit-text-decoration: 1vh underline;
          text-decoration: 1vh underline;
}
body .art-page section .art-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  max-width: 70%;
  gap: 10vh;
}
body .art-page section .art-container .art-showcase {
  display: flex;
  flex-direction: column;
}
body .art-page section .art-container .art-showcase .image-container {
  width: 30vh;
  height: 40vh;
  border-radius: 2vh;
  overflow: hidden;
  box-shadow: 1vh 1vh 1vh var(--shadow);
}
body .art-page section .art-container .art-showcase .image-container img {
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .art-page section .art-container .art-showcase .image-description {
  display: flex;
  flex-direction: column;
  padding: 1vh;
}
body .art-page section .art-container .art-showcase .image-description .image-header {
  font-size: 4vh;
  font-family: var(--header);
}
body .art-page section .art-container .art-showcase .image-description .image-size {
  font-size: 2vh;
  font-family: var(--text);
}
body .art-page section .art-container .art-showcase .image-description .image-price {
  font-size: 2vh;
  font-family: var(--text);
}
body .about-page {
  margin-top: 10vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--p-color);
  padding-bottom: 10vh;
  border-bottom: 1vh solid var(--p-color);
  border-top: 1vh solid var(--s2-color);
  background: repeating-linear-gradient(90deg, var(--p-color) 3vh, var(--p2-color) 4vh, transparent 20vh), repeating-linear-gradient(90deg, var(--p-color) 10vh, var(--p2-color) 10vh);
}
body .about-page .header {
  width: 100%;
  height: 10vh;
  text-align: center;
  background: repeating-linear-gradient(90deg, var(--p-color) 3vh, var(--p2-color) 4vh, transparent 20vh), repeating-linear-gradient(90deg, var(--p-color) 10vh, var(--p2-color) 10vh);
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 8vh;
  color: var(--p-color);
  font-family: var(--header);
}
body .about-page .description {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body .about-page .description .photo {
  width: 40vh;
  height: 50vh;
  overflow: hidden;
  border-radius: 5vh;
  box-shadow: 0 1vh 1vh var(--shadow);
}
body .about-page .description .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .about-page .description .paragraph {
  font-size: 3vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  align-self: flex-start;
  margin: 2vh;
  width: 50%;
}
body .contact-page {
  width: 100%;
  height: 30vh;
  padding: 2vh;
  background: var(--p2-color);
  color: var(--p-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  border-top: 1vh solid var(--p2-color);
}
body .contact-page .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .contact-page .description .header {
  font-size: 2vh;
  font-family: var(--text);
}
body .contact-page .description .social-links {
  font-size: 4vh;
  font-family: var(--text);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  margin: 1vh;
}
body .contact-page .description .social-links li {
  list-style: none;
  margin: 1vh;
  border-radius: 10vh;
}
body .contact-page .description .social-links li a {
  transform: 0.2s linear;
  text-decoration: none;
  padding: 1vh;
}
body .contact-page .description .social-links li a img {
  filter: grayscale(100%);
}
body .contact-page .description .social-links li a img:hover {
  filter: grayscale(10%);
}
body .contact-page .description .phone-number {
  font-size: 3vh;
  font-family: var(--text);
  width: 40vh;
  text-align: center;
  align-self: center;
}
body .contact-page .description .phone-number span {
  font-family: var(--header);
}

@media only screen and (max-width: 1200px) {
  .hero-page .hero-page-left-side {
    min-width: 100%;
  }
  .about-page .paragraph {
    min-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */