//Global Variable/ Color palate
:root{
    --s-color: #62695E;
    --s2-color: #5E6967;
    --text-color: #1d1d1d;
    --shadow: black;
    --p2-color: #191C1C;
    --p-color: #fffafa;
    --text: 'Handlee', cursive;
    --header: 'Lobster', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: var(--p-color);
    //For every section
    //Nav bar for pc
    .nav-bar{
        min-height: 15vh;
        padding: 1vh;
        position: absolute;
        .nav-options{
            align-self: center;
            .nav-pc{
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-evenly;
                .nav-pc-list{
                    text-align: center;
                    font-size: 3vh;
                    font-family: var(--header);
                    width: 20vh;
                    cursor: pointer;
                    img{
                        width: 50%;
                        height: 100%;
                        transform: scale(1.0);
                    }
                }
            }
        }
    }
    //Hero Section
    .hero-page{
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        position: relative;
        gap:2vh;
        .hero-page-background{
            position: absolute;
            top:50%;
            width: 100%;
            height: 50%;
            transform: translateY(-50%);
            background: var(--s-color);
            z-index: -1;
        }
        .hero-page-photo{
            width: 30vh;
            height: 40vh;
            overflow: hidden;
            border-radius: 5vh;
            box-shadow: 1vh 1vh 1vh var(--shadow);
            img{
                transition: .2s ease-in-out;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(2.5);
                &:hover{
                    filter:none;
                }
            }
        }
        .hero-page-paragraph{
            width:70vh;
            height: 50vh;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            align-items: left;
            justify-content: center;
            .header{
                font-size: 5vh;
                font-family: var(--text);
                span{
                    font-weight: bold;
                    text-decoration: 1vh underline dotted;
                }
            }
            .description{
                font-size: 4vh;
                font-family: var(--text);
                text-align: left;
            }
            .art-link{
                font-size: 4vh;
                font-family: var(--text);
                text-align: left;
                span{
                    font-family: var(--header);
                    text-decoration: 1vh underline dotted;
                }
            }
        }
    }

    //For art Section
    .art-page{
        min-height: 100vh;
        width: 100%;
        background:var(--p-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .header{
            font-size: 8vh;
            font-family: var(--header);
            margin-bottom: 10vh;
        }
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            .header{
                color:var(--p2-color);
                text-decoration: 1vh underline;
            }
            .art-container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding: 1vh;
                gap: 10vh;
                max-width: 70%;
                margin-bottom: 10vh;
                .art-showcase{
                    display: flex;
                    flex-direction: column;
                   .image-container{
                    width: 30vh;
                    height: 40vh;
                    border-radius: 2vh;
                    overflow: hidden;
                    box-shadow: 1vh 1vh 1vh var(--shadow);
                        img{
                            transition: .2s ease-in-out;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                   }
                    .image-description{
                        display: flex;
                        flex-direction: column;
                        padding: 1vh;
                        .image-header{
                            font-size: 4vh;
                            font-family: var(--header);
                        }
                        .image-size{
                            font-size: 2vh;
                            font-family: var(--text);
                        }
                        .image-price{
                            font-size: 2vh;
                            font-family: var(--text);
                        }
                    }
                }
            }
        }
    }

    //About page section
    .about-page{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 10vh;
        .header{
            font-size: 8vh;
            font-family: var(--header);
            align-self: center;
            margin-bottom: 10vh;
        }
        .description{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .photo{
                width:40vh;
                height: 50vh;
                overflow: hidden;
                border:1vh solid var(--s2-color);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(2.5);
                }
            }
            .paragraph{
                font-size: 4vh;
                font-family: var(--text);
                text-align: justify;
                align-self: flex-start;
                margin: 2vh;
                width:50%;
            }
        }
    }
    //Contact section
    .contact-page{
        width: 100%;
        height: 50vh;
        padding: 2vh;
        background: var(--p-color);
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:1vh;
        border-top: 1vh solid var(--p2-color);
        .header{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:8vh;
            font-family: var(--header);
            width:40vh;
        }
        .description{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .social-links{
                font-size: 4vh;
                font-family: var(--text);
                width: 40vh;
                text-align: center;
                align-self: center;
                margin: 1vh;
                li{
                    list-style: none;
                    background: var(--p-color);
                    margin: 1vh;
                    text-align: center;
                    border-radius: 10vh;
                    a{
                        text-decoration: none;
                        color:var(--p2-color);
                        font-size: 4vh;
                        font-family: var(--header);
                        padding:1vh;
                    }
                }
            }
            .phone-number{
                font-size: 3vh;
                font-family: var(--text);
                width: 40vh;
                text-align: center;
                align-self: center;
                span{
                    font-family: var(--header);
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px)
{
    .nav-bar{
        display: none;
    }
    .hero-page{
        padding: 1vh;
        .hero-page-paragraph{
            max-width: 40vh;
            margin-bottom: 10vh;
        }
        .hero-page-photo{
            max-width: 30vh;
            max-height: 40vh;
        }
    }
}